extends email_template

block content
    p ¡Hola #{nombreCompleto}!, hemos recibido tu petición para generar una nueva clave de acceso a appTeacher.
    | Pulsa en el botón Password para introducir la nueva clave.
    p Si no has pedido obtener un nuevo password, ignora este mensaje.
    .button-w
        a.button(href=url) Password